.row.users
	.col-md-3.text-top
		= gravatar_for user
		= user.login
	.col-md-3.text-middle
		= user.email
	.col-md-2
	- if !current_user?(user)
		= link_to 'delete', user, method: :delete, data: { confirm: "Are you sure?" }