@import "bootstrap-sprockets";
@import "bootstrap";

/* body */
body {
	background-color: #212121;
	color: #fff;
}

.container {
	/*width: 1170px;*/
}

/*header */
header {
	width: 100%;
	background-color: #000;
}

/* navbar */
.navbar-inverse {
	background-color: inherit;
	border: none;
	margin: 20px 0 10px 0;

	font-size: 14px;
	a {
		color: #fff !important;
		&:hover {
			color: #86c840 !important;
		}
	}

	li {
		a {
			&:hover, &:focus {
				background-color: transparent !important;
			}
		}
	}

	#put_logo {
		float: right;
	}

	.sprites {
		background-image: url(sprites.png);
		background-repeat: no-repeat;
		overflow: hidden;
		float: right;
		margin: 66px 12px 0 0;
	}

	#facebook {
		width: 40px;
		height: 40px;
		background-position: 0 -1174px;
		&:hover {
			background-position-x: -95px;
		}
	}

	#twitter {
		width: 40px;
		height: 40px;
		background-position: 0 -1264px;
		&:hover {
			background-position-x: -95px;
		}
	}

	#youtube {
		width: 40px;
		height: 40px;
		background-position: 0 -1354px;
		&:hover {
			background-position-x: -95px;
		}
	}
}

.navbar-header {
	float: none;
	background-color: inherit;
}

.navbar-toggle {
	background-color: #000;
	border-radius: 60px;
	float: none;
	padding: 14px, 10px !important;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.8em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  color: #f7ee27;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #f7ee27;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}