@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* body */
body {
	background-color: #212121;
	color: #fff;
}

.container {
	/*width: 1170px;*/
}

a {
	color: #81C341;
	&:hover {
		color: #f7ee27;
	}
}

/*header */
header {
	width: 100%;
	background-color: #000;
}

/*alert */
.alert {
	margin: 20px 0;
}

.alert-success {
	background-color: #81C341;
	border-color: #81C341;
	color: #212121;
}

/* navbar */
.navbar-inverse {
	background-color: inherit;
	border: none;
	margin: 20px 0 10px 0;

	font-size: 14px;
	a {
		color: #fff !important;
		&:hover {
			color: #86c840 !important;
		}
	}

	li {
		a {
			&:hover, &:focus {
				background-color: transparent !important;
			}
		}
	}

	#put_logo {
		float: right;
	}

	.sprites {
		background-image: url(sprites.png);
		background-repeat: no-repeat;
		overflow: hidden;
		float: right;
		margin: 66px 12px 0 0;
	}

	#facebook {
		width: 40px;
		height: 40px;
		background-position: 0 -1174px;
		&:hover {
			background-position-x: -95px;
		}
	}

	#twitter {
		width: 40px;
		height: 40px;
		background-position: 0 -1264px;
		&:hover {
			background-position-x: -95px;
		}
	}

	#youtube {
		width: 40px;
		height: 40px;
		background-position: 0 -1354px;
		&:hover {
			background-position-x: -95px;
		}
	}
}

.navbar-header {
	float: none;
	background-color: inherit;
}

.navbar-toggle {
	background-color: #000;
	border-radius: 60px;
	float: none;
	padding: 14px, 10px !important;
}

/* content */

.gravatar {
	margin-top: 20px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 2px solid #939393;
  width: 100%;
  margin-bottom: 15px;
  background-color: #212121;
  border-radius: 5px;
 	@include box_sizing;
 	&:focus {
 		border-color: #81C341;
 	}
}

input {
  height: auto !important;
  &.btn-primary {
  	color: #212121;
  	border-color: #81C341;
  	background-color: #81C341;
  	width: 150px;
  	margin: 10px 0;
  	&:hover {
  		background-color: #212121;
   		border-color: #81C341;
  	}
  	&:focus {
  		background-color: #212121;
   		border-color: #81C341;
  	}

  }
}

#error_explanation {
  color: #81C341;
  ul {
    color: #81C341;
    margin: 0 0 30px 0;
  }
}

.alert-danger {
	background-color: #81C341;
	border-color: #81C341;
	color: #212121;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.8em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  color: #f7ee27;
}

h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #f7ee27;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
  margin-top: 45px;
}